<%= link_to "New Article", new_article_path, class: "btn btn-default btn-lg", id: "new-article-btb" %>

<% @articles.each do |article| %>

	<div style="padding: 1rem;">
		<div class="card">
	  		<div class="card-header">
	  	  		<%= link_to article.title, article_path(article) %>
	  		</div>
	  		<div class="card-body">
	    		<h5 class="card-title"><%= truncate(article.body, length: 500) %></h5>
	  		</div>
		</div>
	</div>

<% end %>